@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

table {
  font-family: 'Poppins', sans-serif;
  border-collapse: collapse;
  margin: 30px;
  margin-left: 200px;
  width: 70%;
}

tbody th{
background-color: #badfb1;
padding: 10px;
padding-left: 10px;
}

table td{
  text-align: centre;
  font-size: 1em;
  border: 1px solid #dddddd;
  padding: 15px;
  
}

.no-data{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 10%;
}


@media (max-width: 1513px) {

  table {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    margin: 10px;
    margin-left: 3%;
    width: 70%;
  }



}

@media (max-width: 1370px) {

  tbody th{
    padding: 10px;
    font-size: 15px;
    }

    table td{
      font-size: 15px;
      padding: 10px;
      
    }

}

@media (max-width: 1240px) {

  tbody th{
    padding: 10px;
    font-size: 12px;
    }

    table td{
      font-size: 12px;
      padding: 10px;
      
    }


}

@media (max-width: 1043px) {

  tbody th{
    padding: 10px;
    font-size: 10px;
    }

    table td{
      font-size: 10px;
      padding: 10px;
      
    }

    .edit-button{
      padding: 6px;
      font-size: 8px;
    }
    
    .delete-button{
      padding: 6px;
      font-size: 8px;
    }


}

@media (max-width: 915px) {

  tbody th{
    padding: 10px;
    font-size: 10px;
    }

    table td{
      font-size: 10px;
      padding: 8px;
      
    }

    .edit-button{
      padding: 6px;
      font-size: 8px;
    }
    
    .delete-button{
      padding: 6px;
      font-size: 8px;
    }


}

@media (max-width: 830px) {

  tbody th{
    padding: 10px;
    font-size: 8px;
    }

    table td{
      font-size: 8px;
      padding: 6px;
      
    }

    .edit-button{
      padding: 6px;
      font-size: 8px;
    }
    
    .delete-button{
      padding: 6px;
      font-size: 8px;
    }


}


@media (max-width: 753px) {

  table{
    margin: 20px;
  margin-left: 40px;
  width: 80%;
  }

  tbody th{
    display: none;
    }

    table tr{
      display: block;
    }

    table td{
      text-align: right;
      display: block;
      padding: 10px;
      font-size: 15px;
    }

    tbody td::before{
      content: attr(data-title) "  :";
      float: left;
    }

    tbody tr:nth-child(even){
      background-color: #dde2e7;
    }


}



body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
}

.navbar {
  height: 60px;
  background-color: #e5effe;
  position: relative;
  width: 100%;
}


.menu-icon {
  display: none;
}

img{
  padding-top:40px ;
  height: 130px;
  width: 130px;
}


.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .logo img{
    padding-top:43px ;
    height: 130px;
    width: 130px;
  }

  img{
    padding-top: 10px;
    height: 50px;
    width: 50px;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

form{
  background-color: white;
  padding: 0px 70px;
  border-radius: 5px;
}

.submit-button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.edit-button{
  display: inline;
  padding: 8px;
  margin: 5px;
  background-color: rgb(44, 184, 26);
  color: rgb(12, 11, 11);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.delete-button{
  display: inline;
  padding: 8px;
  margin: 5px;
  background-color: rgb(224, 15, 15);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background: #dbd8d8;
  background-position: center;
}

.formInput{
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 10px;
}

input{
  padding: 20px;
  margin: 5px 4px;
  border-radius: 5px;
  border: 1px solid gray;
}

label{
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 5px;
  
}

.label-container{
  margin-left: 10px;
}

span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

input:invalid[touched="true"]{
  border: 1px solid red;
}

input:invalid[touched="true"] ~ span{
  display: block;
}



